<!DOCTYPE html>
<html lang="@ViewBag.Culture">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>
        <meta name="google-site-verification" content="IoFe3y2AupVOpWUdX6BHg83Puy6RqxXM-35Z_T8em6o" />
        <link href="~/content/themes/dvh/images/dvh.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="@ViewBag.Keywords">
        <meta name="description" content="@ViewBag.Description">
        <meta name="robots" content="@ViewBag.Index, @ViewBag.Follow">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="~/Content/themes/dvh/css/main2.css" rel="stylesheet" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>

        @Styles.Render("~/Content/themes/base/datepicker")

        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                }; if (!f._fbq) f._fbq = n;
                n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
            }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

            fbq('init', '1671744883043486');
            fbq('track', "PageView");
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=1671744883043486&ev=PageView&noscript=1" />
        </noscript>
        <!-- End Facebook Pixel Code -->


        @RenderSection("header", required: false)
    </head>
<body onload="_googWcmGet('phone-desktop', '1-800-349-8208'); _googWcmGet('phone-mobile', '1-888-588-9705');">
    @RenderSection("afterBody", required: false)
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{if (ViewBag.Culture == "en")
                {
                    <a href="/" class="navbar-brand">
                        <img src="@ViewBag.Logo" class="logo-image" width="150" height="50" alt="DiscountVacationHotels.com" />
                    </a>
                }
                else
                {
                    <img src="@ViewBag.Logo" class="logo-image" width="150" height="50" alt="DiscountVacationHotels.com" />
                }
                }
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <div class="nav navbar-right hidden-xs">
                    @Html.Raw(@ViewBag.Header)
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/packages/puerto-vallarta" title="Puerto Vallarta Vacation Packages">Puerto Vallarta</a></li>
                    <li><a href="/packages/cabo-san-lucas" title="Cabo San Lucas Vacation Packages">Cabo San Lucas</a></li>
                    <li><a href="/packages/cancun" title="Cancun Vacation Packages">Cancun</a></li>
                    <li><a href="/packages/playa-del-carmen" title="Playa del Carmen Vacation Packages">Playa del Carmen</a></li>
                    <li><a href="/packages/loreto" title="Loreto Vacation Packages">Islands of Loreto</a></li>
                    <li><a id="aQuoteRequest" title="Request a Quote" data-toggle="modal" data-target="#quoteRequest">@ePlatFront.Resources.Views.Shared.SharedStrings.Request_a_Quote</a></li>
                    <li><a href="/blog" title="Blog">@ePlatFront.Resources.Views.Shared.SharedStrings.Blog</a></li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderSection("featured", required: false)
    <div id="body" >
            @RenderBody()
    </div>
    <div class="controls">
        @RenderSection("controls", required: false)
    </div>
    <div class="hidden-sm hidden-md hidden-lg phone-box">
        <span class="phone-box-call">
            <span class="phone-box-t1">Book Today</span>
            <span class="phone-box-t2">Decide your dates later</span>
        </span>
        @Html.Raw(@ViewBag.Header)
    </div>
    <footer>
        <div class="container">
            <div class="pull-right" style="margin-top:10px;">
                <img src="~/Content/themes/dvh/images/logo-adeprotur.png" alt="Adeprotur" />
                <img src="~/Content/themes/dvh/images/logo-asudestico.png" alt="Asudestico" />
                <a href="http://www.bbb.org/mexico/business-reviews/hotels-reservations/vg-vacation-services-in-puerto-vallarta-ja-332" target="_blank">
                    <img src="/images/ab-seal-horizontal-large.jpg?w=100" alt="Better Business Bureau" style="border:none;" />
                </a>
            </div>
            <p style="width:50%;">Copyright &copy; @DateTime.Now.Year Discount Vacation Hotels. @ePlatFront.Resources.Views.Shared.SharedStrings.All_Rights_Reserved.<br /><a href="https://plus.google.com/112019808574595508474" rel="publisher">Google+</a><br /> <span class="footer-terms">@Html.Raw(@ViewBag.Footer)</span></p>
        </div>
    </footer>
    @*@Html.Partial("../Home/_SpecialPromoForCity")*@

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/controls.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
