<!DOCTYPE html>
<html lang="@ViewBag.Culture">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="lmovRXyVQajAFLFGIb7aar_22cTiUv25e_u33JQHF3M" />
    <title>@ViewBag.Title</title>
    @*<link href="~/content/themes/dvh/images/dvh3.png" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description">
    <meta name="robots" content="@ViewBag.Index, @ViewBag.Follow">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="~/Content/themes/vdai/css/main.css?v=190308" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>

    @Styles.Render("~/Content/themes/base/datepicker")
    <link href="~/Content/plugins/vegas2/vegas.css" rel="stylesheet" />
    <link href="~/Content/plugins/wow/animate.css" rel="stylesheet" />
    @RenderSection("header", required: false)
    <script src="//cdn.letspin.io/js/main/19a5a8e190fb931f16a05ffb248d49df.js"></script>
</head>
<body>
    @*onload="_googWcmGet('phone-desktop', '1-866-543-2016'); _googWcmGet('phone-mobile', '1-866-543-2016');"*@
    @RenderSection("afterBody", required: false)
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{if (ViewBag.Culture == "en")
                    {
                        <a href="/" class="navbar-brand">
                            <img src="@ViewBag.Logo" class="logo-image" width="150" height="50" alt="DiscountVacationHotels.com" />
                        </a>
                    }
                    else
                    {
                        <img src="@ViewBag.Logo" class="logo-image" width="150" height="50" alt="DiscountVacationHotels.com" />
                    }
                }
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <div class="nav navbar-right hidden-xs">
                    @Html.Raw(@ViewBag.Header)
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/packages/puerto-vallarta" title="Puerto Vallarta Vacation Packages">Puerto Vallarta</a></li>
                    <li><a href="/packages/cabo-san-lucas" title="Cabo San Lucas Vacation Packages">Cabo San Lucas</a></li>
                    <li><a href="/packages/cancun" title="Cancun Vacation Packages">Cancun</a></li>
                    <li><a href="/packages/riviera-maya" title="Riviera Maya Vacation Packages">Riviera Maya</a></li>
                    <li><a href="/packages/loreto" title="Loreto Vacation Packages">Loreto</a></li>
                    <li><a id="aQuoteRequest" title="Request a Quote" data-toggle="modal" data-target="#quoteRequest">@ePlatFront.Resources.Views.Shared.SharedStrings.Request_a_Quote</a></li>
                    <li><a id="aRedeemMyPackage" title="Redeem My Package" data-toggle="modal" data-target="#redeemMyPackage" class="btn-menu-2">Redeem My Package</a></li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderSection("featured", required: false)
    @*<img src="/content/themes/dvh/images/black-friday-sello.png" class="hidden-sm hidden-xs" style=" position: absolute; margin: -60px 120px 0 0; right: 0;">*@
    <div class="banners">
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <span class="tile-button banner-free-getaway" title="Get a Free Getaway">
                        Register now to<br />
                        Receive a Free Getaway
                    </span>
                    <span class="tile-button banner-quote-request" title="Request a Quote" style="margin-left:2px;" data-toggle="modal" data-target="#quoteRequest">
                        Need a special Package?<br />
                        Request your Quote Now
                    </span>
                </div>
                @*<span id="spnCloseFreeGetaway">&times;</span>*@
                @*<img id="imgFreeGetaway" class="banner-popup img-responsive" data-toggle="modal" data-target="#freeGetaway" src="~/Content/themes/dvh/images/banner-getaway.jpg" />*@
            </div>
        </div>
    </div>
    <div id="body">
        @RenderBody()
    </div>
    <div class="controls">
        @RenderSection("controls", required: false)
    </div>
    <div class="hidden-sm hidden-md hidden-lg phone-box">
        <span class="phone-box-call">
            <span class="phone-box-t1">Book Today</span>
            <span class="phone-box-t2">Decide your dates later</span>
        </span>
        @Html.Raw(@ViewBag.Header)
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4>
                        <a href="/terms-and-conditions">TERMS &amp; CONDITIONS</a>
                    </h4>
                    <h4>
                        <a href="/privacy-policy">PRIVACY POLICY</a>
                    </h4>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4>ADDRESS</h4>
                    <address>
                        Boulevard Francisco Medina Ascencio KM 2.5,<br />
                        Zona Hotelera Norte,<br />
                        Puerto Vallarta, Jalisco
                    </address>
                    <abbr title="Phone">P:</abbr> <span class="phone-desktop">1 866 543 2016</span><br />
                    <abbr title="Email">E:</abbr> <span>info@vacationdealsallinclusive.com</span><br />
                    <abbr title="Website">W:</abbr> <a href="https://www.vacationdealsallinclusive.com">www.vacationdealsallinclusive.com</a>
                </div>
                <div class="col-md-6">
                    <h4>Affiliations</h4>
                    <img src="~/Content/themes/vdai/images/logo-adeprotur.png" alt="Adeprotur" />
                    <img src="~/Content/themes/vdai/images/logo-asudestico.png" alt="Asudestico" />
                    <a href="https://www.bbb.org/mexico/business-reviews/hotels-reservations/vg-vacation-services-in-puerto-vallarta-ja-332" target="_blank">
                        <img src="/images/ab-seal-horizontal-large.jpg?w=100" alt="Better Business Bureau" style="border:none;" />
                    </a>
                    <h4>ACCEPTED CREDIT CARDS</h4>
                    <img src="~/Content/themes/vdai/images/creditcards.png" />
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">Copyright &copy; @DateTime.Now.Year Vacation Deals All Inclusive. @ePlatFront.Resources.Views.Shared.SharedStrings.All_Rights_Reserved.</div>
                    <div class="col-xs-6">
                        @*<img alt="Mother's Day Weekend Bonus!" src="~/Content/themes/dvh/images/mothers/mothers-day.jpg" class="presidents-tag" />*@
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.json-2.3.min.js"></script>
    <script src="~/Scripts/controls.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/vegas2/vegas.min.js"></script>
    <script src="~/Content/plugins/wow/wow.min.js"></script>
    <script src="~/Content/themes/vdai/js/ui.js?v=190707"></script>

    <!-- My Live Chat-->
    @*<script type="text/javascript">
        function add_chatinline() { var hccid = 70565780; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
        add_chatinline();</script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
