@model ePlatBack.Models.ViewModels.ConfirmationPageViewModel

@{
    ViewBag.Culture = Model.Culture;
    ViewBag.Title = Model.Seo_Title;
    ViewBag.Keywords = Model.Seo_Keywords;
    ViewBag.Description = Model.Seo_Description;
    ViewBag.Index = Model.Seo_Index;
    ViewBag.Follow = Model.Seo_Follow;

    ViewBag.FriendlyUrl = Model.Seo_FriendlyUrl;
    ViewBag.CanonicalDomain = Model.CanonicalDomain;

    ViewBag.Header = Model.Template_Header;
    ViewBag.Footer = Model.Template_Footer;
    ViewBag.Logo = Model.Template_Logo;

    ViewBag.Submenu1 = Model.Submenu1;
    ViewBag.Submenu2 = Model.Submenu2;
    ViewBag.Submenu3 = Model.Submenu3;
}

@section header{
    @Html.Raw(Model.Scripts_Header)
}

@section afterBody{
    @Html.Raw(Model.Scripts_AfterBody)
}

@section scripts{
    @Html.Raw(Model.Scripts_Footer)
}

@section featured {
    @Html.Raw(Model.Content_Header)
}

<div class="row container" id="CartStep2">
    <div class="col s12 m7 l8">
        <h1>@ePlatFront.Resources.Views.Shared.SharedStrings.Mex_Reservation_Request_Confirmation</h1>
        <p><strong>@ePlatFront.Resources.Views.Shared.SharedStrings.Mex_RRC_Text1 @Html.DisplayFor(model => model.AuthCode) @ePlatFront.Resources.Views.Shared.SharedStrings.Mex_RRC_Text2 $@Html.DisplayFor(model => model.Total) @Html.DisplayFor(model => model.CurrencyCode) @ePlatFront.Resources.Views.Shared.SharedStrings.Mex_RRC_Text3 @Html.DisplayFor(model => model.MerchantName).</strong></p>
        <p>@Html.Raw(ePlatFront.Resources.Views.Shared.SharedStrings.Mex_RRC_Text4)</p>

        <p>@Html.Raw(ePlatFront.Resources.Views.Shared.SharedStrings.Mex_RRC_Text5)</p>
        <br /><br />
    </div>
    <div class="col s12 m5 l4">
    </div>
</div>
