@model ePlatBack.Models.ViewModels.FormsSearchModel


@using (Ajax.BeginForm("SearchForms", "Notifications", new AjaxOptions { OnBegin = "UI.checkForPendingRequests(xhr)", OnSuccess = "NOTIFICATION.searchFormsResultsTable(data)", OnComplete = "NOTIFICATION.makeFormsTableRowsSelectable()", UpdateTargetId = "divTblExistingForms" }, new { }))
{
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.FormSearch_Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FormSearch_Name)
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.FormSearch_Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FormSearch_Description)
        </div>
    </div>
    <div class="editor-alignment align-from-top">
        <div class="editor-field">
            <input type="submit" class="button" value="search" />
        </div>
    </div>
    <div class="full-width">
        <div class="notification-history" style="text-align:center;display:none">
            <img src="/content/themes/base/images/eplat_prev.jpg" class="img-back" style="float:left;width:23px;height:23px;" />
            <span class="editor-alignment">
                <i class="material-icons change-date previous" style="position:absolute;padding-top:2px;margin-left:-25px;">skip_previous</i>
                @Html.HiddenFor(model => model.FormSearch_FormID)
                @Html.TextBoxFor(model => model.FormSearch_Date, new { data_uses_date_picker = "true" })
                <i class="material-icons change-date forward right" style="padding-top:2px;">skip_next</i>
            </span>
        </div>
    </div>
    <div id="divNotificationsHistory" style="display:none" class="notification-history full-width align-from-top align-from-bottom"></div>
    <div id="divTblExistingForms" class="notification-history full-width align-from-bottom">
        <table id="tblSearchFormsResults" class="table dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Form Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}