@model ePlatBack.Models.ViewModels.PreArrivalReport.SearchPreArrivalReport

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
}

@using (Ajax.BeginForm("SearchPreArrivalOptionsPercentageReport", "Reports", new AjaxOptions { OnBegin= "REPORT.clearTable('tblArrivalsResults');", OnSuccess = "REPORT.addExtras();", UpdateTargetId = "divTblPreArrivalResults", OnComplete = "REPORT.loadCharts('chart-container');" }, new { id = "frmSearchPreArrivalArrivals", onSubmit = "return UI.showValidationSummary(this.id);" }))
{
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.Search_I_PurchaseDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Search_I_PurchaseDate, new { data_uses_date_picker = "true" })
            @Html.TextBoxFor(model => model.Search_F_PurchaseDate, new { data_uses_date_picker = "true" })
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.Search_Resorts)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Search_Resorts, Model.Search_DrpResorts, new { multiple = "multiple" })
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.Search_LeadSources)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Search_LeadSources, Model.Search_DrpLeadSources, new { multiple = "multiple" })
        </div>
    </div>
    <div class="editor-alignment align-from-top">
        <div class="editor-field">
            <input type="submit" class="button" value="search" />
        </div>
    </div>
    <div id="divTblPreArrivalResults" class="align-from-top">
        <table id="tblArrivalsResults" class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Certificate Number</th>
                    <th>Resort</th>
                    <th>Resort Confirmation</th>
                    <th>Arrival Date</th>
                    <th>Departure Date</th>
                    <th>Total Nights</th>
                    <th>Option Types</th>
                    <th>Options</th>
                    <th>Volume Sold</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
}