@model ePlatBack.Models.ViewModels.PreArrivalReport

@if (Model.ListManifest != null)
{

    var lists = Model.ListManifest.GroupBy(m => m.AssignedToUserID);
    var sales = Model.ListManifest.Count(m => m.Options != "" && m.Paid);

    if (lists.Count() > 0)
    {
        foreach (var i in lists)
        {
            //var sum = Decimal.Round(i.Sum(m => (m.Paid ? m.ListPayments.Where(x => x.Generic_Property5 != "7").Sum(x => decimal.Parse(x.Generic_Property3)) : 0)), 2);
            var sum = Decimal.Round(i.Sum(m => (m.Paid ? m.ListPayments.Where(x => x.Generic_Property5 == "2").Sum(x => decimal.Parse(x.Generic_Property3)) : 0)), 2);
            var count = i.Count(m => (m.Options != "" && m.Paid == true && m.ListPayments.Count(x => decimal.Parse(x.Generic_Property3) > 0) > 0));
            var sCount = i.Count(m => (m.Options != "" && m.ListPayments.Sum(x => decimal.Parse(x.Generic_Property3)) > 0));
            var rCount = i.Count(m => m.ListPayments.Count() > 0 && m.ListPayments.Sum(x => decimal.Parse(x.Generic_Property3)) <= 0);
            var bysource = i.GroupBy(m => m.LeadSource).OrderByDescending(m => m.Key);
            <table id="tblArrivalsResults" class="table dataTable exportable">
                <thead>
                    <tr>
                        <th colspan="8">@Html.DisplayFor(model => i.FirstOrDefault().AssignedToUser)</th>
                        <th>Refunds: @Html.DisplayFor(model => rCount)</th>
                        <th>Sales: @Html.DisplayFor(model => sCount)</th>
                        <th data-format="currency" title="Volume Sold">@Html.DisplayFor(model => sum)</th>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Arrival Date</th>
                        <th>Resort Confirmation</th>
                        <th>Option Types</th>
                        <th>Options</th>
                        <th style="width:100px !important;">Purchase Date</th>
                        <th style="width:100px !important;">Invoice</th>
                        <th style="width:100px !important;">Volume Sold</th>
                        <th>Resort</th>
                        <th>Lead Source</th>
                        @*<th>Total Nights</th>*@
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var a in i)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => a.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.ArrivalDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.ConfirmationNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.OptionTypes)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.Options)
                                </td>
                                <td colspan="3">
                                    <table class="table dataTable">
                                        <tbody>
                                            @{
                                                foreach (var x in a.ListPayments)
                                                {

                                                    <tr>
                                                        <td style="width:100px !important;">
                                                            @Html.DisplayFor(model => x.Generic_Property1)
                                                        </td>
                                                        <td style="width:100px !important;">
                                                            @Html.DisplayFor(model => x.Generic_Property2)
                                                        </td>
                                                        <td style="width:100px !important;" data-format="currency">
                                                            @Html.DisplayFor(model => x.Generic_Property3)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.Resort)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.LeadSource)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(model => a.NumberNights)
                                    </td>*@
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    @foreach (var source in bysource)
                    {
                        var sumbysource = Decimal.Round(source.Sum(m => (m.Paid ? m.ListPayments.Where(x => x.Generic_Property5 != "7").Sum(x => decimal.Parse(x.Generic_Property3)) : 0)), 2);
                        <tr>
                            <td colspan="7"></td>
                            <td>
                                @Html.DisplayFor(model => source.Key)
                            </td>
                            <td data-format="currency">
                                @Html.DisplayFor(model => sumbysource)
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    }
                    <tr></tr>
                </tfoot>
            </table>
            <table class="table half-width">
                <thead>
                    <tr><th colspan="2">@Html.DisplayFor(model => i.FirstOrDefault().AssignedToUser)</th></tr>
                    <tr>
                        <th>Option Type</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var llist = new List<KeyValuePair<string, int>>();

                        foreach (var x in i.Select(m => m.aListOptionTypes).FirstOrDefault())
                        {
                            llist.Add(x);
                        }

                        var cosa = llist.GroupBy(m => m.Key,
                            m => m.Value,
                            (key, items) => new
                            {
                                a = key,
                                sum = items.Sum(f => f)
                            });

                        foreach (var row in cosa)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => row.a)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => row.sum)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <table id="tblArrivalsResults" class="table dataTable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Certificate Number</th>
                    <th>Resort</th>
                    <th>Resort Confirmation</th>
                    <th>Arrival Date</th>
                    <th>Departure Date</th>
                    <th>Total Nights</th>
                    <th>Option Types</th>
                    <th>Options</th>
                    <th>Volume Sold</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    }
}
