@model ePlatBack.Models.ViewModels.ReportViewModel

<table id="tblSearchExchangeToursResults" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>User</th>
            <th>Lead Source</th>
            <th>Arrival Date</th>
            <th>Booking Status</th>
            <th>Total Paid</th>
            <th>Resort</th>
            <th>Final Tour Status</th>
            <th>Final Booking Status</th>
            <th>Hostess Comments</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ExchangeTourResults != null)
        {
            foreach (var i in Model.ExchangeTourResults)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_FirstName) + " " + @Html.DisplayFor(model => i.ExchangeTourReport_LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_LeadSource)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_BookingStatus)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_TotalPaid)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_Resort)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_FinalTourStatus)
                </td>
                <td>
                    @Html.DisplayFor(model => i.ExchangeTourReport_FinalBookingStatus)
                </td>
                <th>
                    @Html.DisplayFor(model => i.ExchangeTourReport_HostessComments)
                </th>
            </tr>
            }
        }
    </tbody>
</table>
