@model ePlatBack.Models.ViewModels.ChargeBacksModel.SearchChargeBacks

@using (Ajax.BeginForm("SearchChargeBacks", "Reports", new AjaxOptions { UpdateTargetId = "divChargeBacksResults", OnSuccess = "REPORT.addExtras();REPORT.ChargeBacks.loaded();" }, new { id = "frmSearchCloseOut" }))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="non-printable search-params">
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_I_FromDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Search_I_FromDate, new { data_uses_date_picker = "true" })
                @Html.TextBoxFor(model => model.Search_F_ToDate, new { data_uses_date_picker = "true" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_TerminalID)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_TerminalID, Model.Search_Terminals, new { @class = "terminal-dependent-list onchange", data_route = "/crm/Reports/GetDDLData", data_route_parameter = "selectedTerminals", data_onchange_route_parameter = "fundsByTerminal,companiesByTerminalID,promotionTeam,location,allSalesAgentsByTerminal,allOpcsByTerminal,chargeBackConceptsByTerminal,pointOfSale", data_dependent_list = "Search_FundIDs,Search_CompanyIDs,Search_PromotionTeamIDs,Search_LocationIDs,Search_AgentIDs,Search_OPCID,Search_ChargeBackConceptIDs,Search_PointsOfSaleIDs" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_FundIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_FundIDs, Model.Search_Funds, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_ChargeBackTypeIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_ChargeBackTypeIDs, Model.Search_ChargeBackTypes, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_ChargeBackConceptIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_ChargeBackConceptIDs, Model.Search_ChargeBackConcepts, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_PointsOfSaleIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_PointsOfSaleIDs, Model.Search_PointsOfSale, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_CompanyIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_CompanyIDs, Model.Search_Companies, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_PromotionTeamIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_PromotionTeamIDs, Model.Search_PromotionTeams, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_OPCID)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_OPCID, Model.Search_OPCs)
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_LocationIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_LocationIDs, Model.Search_Locations, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_AgentIDs)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Search_AgentIDs, Model.Search_Agents, new { multiple = "multiple" })
            </div>
        </div>
        <div class="editor-alignment align-from-top">
            <div class="editor-field">
                <input type="submit" class="button" value="get" />
            </div>
        </div>
    </div>
    <div id="divChargeBacksResults" class="align-from-top">
    </div>
}