@model ePlatBack.Models.ViewModels.ExchangeTourModel.SearchExchangeTourModel

@using (Ajax.BeginForm("SearchExchangeTours", "Reports", new AjaxOptions { OnSuccess = "REPORT.searchResultsTable(data)", UpdateTargetId = "divTblExchangeToursResults" }, new { id = "frmSearchExchangeTour" }))
{
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.GenericSearchFieldsReport_I_ArrivalDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.GenericSearchFieldsReport_I_ArrivalDate, new { data_uses_date_picker = "true" })
            @Html.TextBoxFor(model => model.GenericSearchFieldsReport_F_ArrivalDate, new { data_uses_date_picker = "true" })
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.SearchExchangeTour_I_FinalTourDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SearchExchangeTour_I_FinalTourDate, new { data_uses_date_picker = "true" })
            @Html.TextBoxFor(model => model.SearchExchangeTour_F_FinalTourDate, new { data_uses_date_picker = "true" })
        </div>
    </div>
    @*<div class="editor-alignment">
        <p class="editor-label">
            @Html.LabelFor(model => model.GenericSearchFieldsReport_F_ArrivalDate)
        </p>
        <p class="editor-field">
            
        </p>
    </div>*@
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.GenericSearchFieldsReport_BookingStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GenericSearchFieldsReport_BookingStatus, Model.GenericSearchFieldsReport_DrpBookingStatus, new { style="height:68px", @class = "workgroup-dependent-list", data_route = "/crm/Reports/GetDDLData", data_route_parameter = "bookingStatusID", multiple = "multiple" })
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.GenericSearchFieldsReport_LeadSource)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GenericSearchFieldsReport_LeadSource, Model.GenericSearchFieldsReport_DrpLeadSources, new { style="height:68px", multiple = "multiple", @class = "workgroup-dependent-list", data_route = "/crm/Reports/GetDDLData", data_route_parameter = "leadSourceID" })
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.GenericSearchFieldsReport_Resort)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.GenericSearchFieldsReport_Resort, Model.GenericSearchFieldsReport_DrpResorts, new { style="height:68px", multiple = "multiple", @class = "terminal-dependent-list", data_route = "/crm/Reports/GetDDLData", data_route_parameter = "placeID" })
        </div>
    </div>
    <div class="editor-alignment align-from-top">
        <div class="editor-field">
            <input type="submit" id="btnSearchExchangeTours" class="button" value="search" />
        </div>
    </div>
    <div id="divTblExchangeToursResults" class="align-from-top">
        <table id="tblSearchExchangeToursResults" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assigned To User</th>
                    <th>Lead Source</th>
                    <th>Arrival Date</th>
                    <th>Booking Status</th>
                    <th>Total Paid</th>
                    <th>Resort</th>
                    <th>Final Tour Date</th>
                    <th>Final Tour Status</th>
                    <th>Final Booking Status</th>
                    <th>Sales Volume</th>
                    <th>Hostess Comments</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
}