@model ePlatBack.Models.ViewModels.PreArrivalReport.SearchPreArrivalReport

@*@using (Ajax.BeginForm("SearchTransportations", "Reports", new AjaxOptions { OnBegin="REPORT.clearTable();", OnSuccess="REPORT.searchResultsTable(data);", UpdateTargetId = "divTblTransportationResults" }, new { id ="frmSearchPreArrivalTransportations" }))*@
@using (Ajax.BeginForm("SearchTransportations", "Reports", new AjaxOptions { OnBegin = "REPORT.clearTable();", OnSuccess = "", OnComplete ="UI.applyFormat('currency')", UpdateTargetId = "divTblTransportationResults" }, new { id = "frmSearchPreArrivalTransportations" }))
{
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.Search_Resorts)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Search_Resorts, Model.Search_DrpResorts)
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.Search_DateType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Search_DateType, Model.Search_DrpDateTypes)
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-label">
            @*@Html.LabelFor(model => model.Search_I_ArrivalDate)*@
            <label for="Serach_I_ArrivalDate">Date Range</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Search_I_ArrivalDate, new { data_uses_date_picker = "true" })
            @Html.TextBoxFor(model => model.Search_F_ArrivalDate, new { data_uses_date_picker = "true" })
        </div>
    </div>
    <div class="editor-alignment">
        <div class="editor-field">
            <input type="reset" class="button" value="clear" />
            <input type="submit" class="button align-from-left" value="search" />
        </div>
    </div>
    <div id="divTblTransportationResults" class="align-from-top">
        <table id="tblTransportations" class="table dataTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Passenger(s) Name(s)</th>
                    <th>Confirmation Number</th>
                    <th>Resort</th>
                    <th>Option(s)</th>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Flight Date</th>
                    <th>Flight Time</th>
                    <th>PickUp Time</th>
                    <th>Passengers</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}
