@model ePlatBack.Models.ViewModels.SweepstakesReportModel

<div class="table-div">
    <div class="table-row">
        <div class="table-cell">
            @Html.DisplayNameFor(model => model.Terminal)<br />
            @Html.DisplayFor(model => model.Terminal)
        </div>
        <div class="table-cell">
            @Html.DisplayNameFor(model => model.Dates)<br />
            @Html.DisplayFor(model => model.Dates)
        </div>
    </div>
</div>
<input type="hidden" id="Json" value="@Model.Json" />
<h3>Sweepstakes Search Results</h3>

@if (Model.Sweepstakes.Count() > 0)
{
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var qr in Model.Sweepstakes)
            {
                <tr id="@qr.TransactionID">
                    <td>@qr.Date</td>
                    <td>@qr.FirstName</td>
                    <td>@qr.LastName</td>
                </tr>
            }
        </tbody>
    </table>

    <div id="divSweepstakesInfo" style="display:none;">
        <fieldset id="fdsSweepstakeInfo" class="primary-selected-row-dependent">
            <legend>
                <img src="/Content/themes/base/images/eplat_show.jpg" alt="" class="fieldset-indicator fds-indicator-separator">
                Sweepstake Info
            </legend>
            <div class="editor-alignment">
                <div class="editor-label">
                    <label>Date Saved</label>
                </div>
                <div class="editor-field">
                    <input type="text" disabled="disabled" id="Date" />
                </div>
            </div>
            <div class="editor-alignment">
                <div class="editor-label">
                    <label>First Name</label>
                </div>
                <div class="editor-field">
                    <input type="text" disabled="disabled" id="FirstName" />
                </div>
            </div>
            <div class="editor-alignment">
                <div class="editor-label">
                    <label>Last Name</label>
                </div>
                <div class="editor-field">
                    <input type="text" disabled="disabled" id="LastName" />
                </div>
            </div>
            <div class="editor-alignment">
                <div class="editor-label">
                    <label>Email</label>
                </div>
                <div class="editor-field">
                    <input type="text" disabled="disabled" id="Email" />
                </div>
            </div>
            <div class="editor-alignment">
                <div class="editor-label">
                    <label>Phone</label>
                </div>
                <div class="editor-field">
                    <input type="text" disabled="disabled" id="Phone" />
                </div>
            </div>
        </fieldset>
    </div>
}
else
{
    <span>No Results</span>
}
