@model ePlatBack.Models.ViewModels.CompaniesModel.SearchCompaniesModel

<fieldset id="fdsCompaniesManagement">
    <legend>
        <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator" />
        Companies Management
    </legend>
    <div class="align-from-top">
        <div class="full-width">
            <input type="button" id="btnNewCompanyInfo" class="submit fieldset-expander right" value="new" />
        </div>
        @using (Ajax.BeginForm("SearchCompanies", "Catalogs", new AjaxOptions { OnSuccess = "CATALOG.companiesResultsTable(data)", OnComplete = "CATALOG.makeCompaniesSelectable()", UpdateTargetId = "divTblExistingCompanies" }, new { id = "frmCompaniesSearch" }))
        {
            <div class="editor-alignment">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SearchCompanies_Company)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SearchCompanies_Company)
                </div>
            </div>
            <div class="editor-alignment">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SearchCompanies_Countries)
                </div>
                <div class="editor-field">
                    @Html.ListBoxFor(model => model.SearchCompanies_Countries, Model.SearchCompanies_DrpCompanies, new { style = "height:68px" })
                </div>
            </div>
            <div class="editor-alignment align-from-top">
                <div class="editor-field">
                    <input type="submit" class="button search" value="search" />
                </div>
            </div>
            <div id="divTblExistingCompanies" class="align-from-top">
                <table id="tblSearchCompaniesResults" class="dataTable table search-results">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Short Name</th>
                            <th>Country</th>
                            <th>ZipCode</th>
                            <th>RFC</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        }
        @Html.Action("RenderCompaniesManagement", "Catalogs")
    </div>
</fieldset>