@model ePlatBack.Models.ViewModels.PromotionTeamsModel.PromotionTeamsInfoModel

<fieldset id="fdsPromotionTeamInfo" class="primary-selected-row-dependent">
    <legend>
        <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator" />
        Promotion Team Info
    </legend>
    <div style="display:none" class="align-from-top">
        @using (Ajax.BeginForm("SavePromotionTeam", "Catalogs", new AjaxOptions { OnSuccess = "CATALOG.savePromotionTeamSuccess(data)" }, new { id = "frmPromotionTeamInfo", onSubmit = "return UI.showValidationSummary(this.id);" }))
        {
            <div id="frmPromotionTeamInfo_ErrorMessages" style="display:none">

            </div>
            <div class="editor-alignment">
            	<div class="editor-label">
                    @Html.LabelFor(model => model.PromotionTeamsInfo_PromotionTeam)
                    @Html.HiddenFor(model => model.PromotionTeamsInfo_PromotionTeamID, new { @class = "secondary-selected-row-dependent" })
            	</div>
            	<div class="editor-field">
                    @Html.TextBoxFor(model => model.PromotionTeamsInfo_PromotionTeam)
            	</div>
            </div>
            <div class="editor-alignment">
            	<div class="editor-label">
                    @Html.LabelFor(model => model.PromotionTeamsInfo_Destination)
            	</div>
            	<div class="editor-field">
                    @Html.DropDownListFor(model => model.PromotionTeamsInfo_Destination, Model.PromotionTeamsInfo_DrpDestinations, new { @class = "destination-dependent-list terminal-dependent-list", data_route = "/Catalogs/GetDDLData", data_route_parameter = "destination" })
            	</div>
            </div>
            <div class="editor-alignment">
            	<div class="editor-label">
                    @Html.LabelFor(model => model.PromotionTeamsInfo_Company)
            	</div>
            	<div class="editor-field">
                    @Html.DropDownListFor(model => model.PromotionTeamsInfo_Company, Model.PromotionTeamsInfo_DrpCompanies, new { @class = "mktCompany-dependent-list terminal-dependent-list", data_route = "/Catalogs/GetDDLData", data_route_parameter = "mktCompany" })
            	</div>
            </div>
            <div class="editor-alignment" style="display:none">
                <div class="editor-label">
                    @Html.LabelFor(model => model.PromotionTeamsInfo_GiftingBudget)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PromotionTeamsInfo_GiftingBudget)
                </div>
            </div>
            <div class="editor-alignment full-width">
                <input type="submit" class="submit right" value="save" />
            </div>
        }
    </div>
</fieldset>